<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>National Nutrition Survey 2018</b></a>

        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
		    <li><a href="/main/">Switch Program&nbsp;<span class="glyphicon glyphicon-refresh"></span></a>            </li>
            <li><a href="/dietaryhome"><span class="glyphicon glyphicon-list-alt"></span>&nbsp; HOME</a></li>
            <li><a href="/"><%= session.username %>&nbsp;<span class="glyphicon glyphicon-log-out"></span></a>            </li>
            
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>