
<!DOCTYPE html>
<html lang="en">
  <head>
<% include ../views/links.ejs %>
  </head>
  <style>
.btnA {
    border-color:black;
    background-color: #fcf8e3;
    height:400px;
    width:400px;
    cursor:pointer;
	 color:#03A9F4;
}

<!-- .btnA:hover { -->
   <!-- background-color: #a94442; -->
    <!-- color:white; -->
<!-- } -->

.btnD {
    border-color:black;
    background-color: #FFC107;
    height:400px;
    width:400px;
    cursor:pointer;
		 color:black;
}

<!-- .btnD:hover { -->
   <!-- background-color: #a94442; -->
    <!-- color:white; -->
<!-- } -->

html, body {
	background-color : #f5f5f5;
	}
  </style>

  <body class="login-page">

    
	<br><br><br><br>
	<br><br><br><br>
	<div class="container">
	<div class="col-md-1">
	</div>
	<div class="col-md-4">
	<button class="btnA" onclick="window.location.href='/legone/survey/surveyform/'"><span class="glyphicon glyphicon-scale" style="font-size:200px;"></span><br><span style="font-size:25px;">Anthropometry</span> </button>
	</div>
	<div class="col-md-1">
	</div>
	<div class="col-md-4">
	<!-- <button class="btnD" onclick="window.location.href='/dietaryhome/'"> -->
	<button class="btnD" onclick="alert('Coming Soon');"> 
	<span class="glyphicon glyphicon-cutlery" style="font-size:200px"></span><br><span style="font-size:25px">Dietary</span> </button>
	<!-- <button class="btnD" onclick="alert('Coming Soon!');"><span class="glyphicon glyphicon-cutlery" style="font-size:200px"></span><br><span style="font-size:25px">Dietary</span> </button> -->
	<div class="col-md-1">
	</div>
	</div>
	
	</div>
	

  <div class="container">
    <div class="row centered">
    </div><!-- /row -->
    <hr>
    <center><p class="center" id="version">Copyright&copy;2017 &nbsp; Food and Nutrition Research Institute. Department of Science and Technology.</p></center>
  </div><!-- /container -->
  

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://10.10.125.43/legone/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/jquery/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/jquery/bootstrap.min.js"></script>
<script type="text/javascript" src="/jquery/bootstrap-typeahead.js"></script>
<script type="text/javascript" src="/jquery/global.js"></script>
<!-- <script type="text/javascript" src="/jquery/settings.js"></script> -->
  </body>
</html>


<script language="javascript">
</script>
